:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

.item.chosen {
    background-color: rgb(174, 200, 169);
}

.item:hover {
    background-color: rgb(238, 238, 238);
}

.item:hover.chosen {
    background-color: rgb(131, 159, 126);
}

