<div class="title-area">
    <app-title 
        caption="Notepad App"
        [color]="selectedColor()"></app-title>
</div>

<div class="area colors-area">
    @for(item of colors(); track $index) {
        <div class="item"
            [class.chosen]="item === selectedColor()"
            (click)="setSelectedColor(item)"
        >{{item}}</div>
    }
</div>

<div class="area fonts-area">
    @for(item of fonts(); track $index) {
        <div class="item"
        [class.chosen]="item === selectedFont()"
        (click)="setSelectedFont(item)"
        >{{item}}</div>
    }
</div>

<div class="area sizes-area">
    @for(item of sizes(); track $index) {
        <div class="item"
        [class.chosen]="item === selectedSize()"
        (click)="setSelectedSize(item)"
        >{{item}}</div>
    }
</div>

<div class="area content-area">
    <textarea
        [style.color]="selectedColor()"
        [style.font-family]="selectedFont()"
        [style.font-size]="selectedSize()"
    ></textarea>
</div>