<div class="title-area">
    <app-title 
        caption="Notepad App"
        [color]="selectedColor()"/>
</div>

<div class="area colors-area">
    <app-string-selector
    [options]="colors()"
    [(selectedOption)]="selectedColor"

    />

    <!-- <app-string-selector
    [options]="colors()"
    [selectedOption]="selectedColor()"
    (selectedOptionChange)="setSelectedColor($event)"

    /> -->

    <!-- <app-string-selector
        [options]="colors()"
        [selectedOption]="selectedColor()"
        (selectionChanged)="setSelectedColor($event)"

    /> -->
</div>

<div class="area fonts-area">
    <app-string-selector
        [options]="fonts()"
        [(selectedOption)]="selectedFont"
    />
</div>

<div class="area sizes-area">
    <app-string-selector
        [options]="sizes()"
        [(selectedOption)]="selectedSize"
        />
</div>

<div class="area content-area">
    <textarea
        [style.color]="selectedColor()"
        [style.font-family]="selectedFont()"
        [style.font-size]="selectedSize()"
    ></textarea>
</div>