:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    .movie {
        border: 1px solid var(--p-3);
        padding: 4px;;
        color: var(--p-6);
        cursor: pointer;

        &:hover {
            background-color: var(--p-2);
        }
    }
}